.grid-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 равные колонки */
  gap: 32px;
  row-gap: 10px;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 1200px) {
  .grid-list {
    grid-template-columns: repeat(2, 1fr); /* 2 колонки на планшетах */
  }
}

@media (max-width: 768px) {
  .grid-list {
    grid-template-columns: 1fr; /* 1 колонка на мобильных */
  }
}

.grid-list > * {
  width: 100%;
  box-sizing: border-box;
}

.grid-list img {
  width: 100%; 
  height: 241.5px; 
  object-fit: cover; 
  z-index: 0;
}

ul li a {
  list-style-type: none; 
  padding-left: 0;
  text-decoration: none;
  color: #333;
  font-family: "Public Sans Web", sans-serif;
}