/* pages/PlanetsPage/PlanetsPage.css */
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.planets-page {
  min-height: 100vh;
}

.services-wrapper {
  max-width: 1352px;
  margin: 0 auto;
  padding: 20px;
}

.services-wrapper h1 {
  font-family: "inter", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 24px;
  color: #000;
}

.services-search {
  margin-bottom: 32px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(429px, 1fr));
  gap: 32px;
  row-gap: 20px;
}

/* Адаптивность */
@media (max-width: 1400px) {
  .services-wrapper {
    max-width: 100%;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
  
  .services-search-form {
    flex-direction: column;
    align-items: stretch;
  }
  
  .search-input {
    width: 100%;
  }
}