/* components/Header/Header.css */
header {
  width: 100%;
  left: 0;
  top: 0;
  position: sticky;
  z-index: 1;
}

.navbar {
  background-color: #000000;
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: center; 
  align-items: center;    
}

.navbar a {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}