.hds-content-item-thumbnail {
  position: relative;
  margin-bottom: 1rem;
  display: block;
}

.hds-content-item-heading {
  display: block;
  margin-bottom: .5rem;
  color: #000;
}

.CustomField {
  font-family: "Public Sans Web", sans-serif;
  margin-bottom: .2rem;
  line-height: 18.4px;
  color: #1b1b1b;
}

.hds-a11y-heading-22 {
  font-family: "inter", sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.05em;
}

.font-weight-bold, .font-weight-bold *, .font-weight-bold div, .font-weight-bold h1, .font-weight-bold h2, .font-weight-bold h3, .font-weight-bold h4, .font-weight-bold h5, .font-weight-bold h6, .font-weight-bold p, h1.font-weight-bold, h2.font-weight-bold, h3.font-weight-bold, h4.font-weight-bold, h5.font-weight-bold, h6.font-weight-bold, p.font-weight-bold {
  font-weight: 700;
}